<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="de.esys.esysfluttershare">

    <application>
        <activity
            android:name=".ShareSeparateActivity"
            android:theme="@style/ShareTheme"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleTask"
            android:exported="false"
            android:allowTaskReparenting="false"
            android:noHistory="true" />

        <provider
            android:name="de.esys.esysfluttershare.EsysFlutterShareFileProvider"
            android:authorities="${applicationId}.fileprovider.github.com/orgs/esysberlin/esys-flutter-share"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/esys_flutter_share_filepaths" />
        </provider>
    </application>
</manifest>
